* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #F8F8F8;
  font-size: 18px;
}

.main {
  background-color: #F8F8F8;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  position: relative;

}

.nav {
  width: 100%;
  height: 13vh;
  /* background-color: aqua; */
  margin-top: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
}

.nav h2 {
  font-size: 1.1rem;
  /* background-color: red; */
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
  font-weight: 600;
}

.nav h1 {
  height: 100%;
  width: 30%;
  /* background-color: gray; */
  padding-left: 10px;
  font-family: monument;
  letter-spacing: -2px;
  font-size: 2.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}


.nav i {
  /* background-color: #fff; */
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.nav h2:nth-last-child(2) {
  width: 50%;
  /* background-color: navajowhite; */
}

.center {
  /* background-color: #d4a7a7; */
  width: 100%;
  height: 90vh;
  padding: 3vw;
}

.container {
  width: 100%;
  height: 77vh;
  position: relative;

}

.container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 3px solid black;
}

.layer {
  position: absolute;
  bottom: 24%;
  left: 5%;
  /* background-color: #F8F8F8; */
  width: 90%;
  height: 20%;
}

.layer .line {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
}

.layer h1 {
  color: #fff;
  font-family: monument;
  font-size: 4rem;
}

.image-row {
  height: 30vh;
  width: 100%;
  /* background-color: aquamarine; */
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 3rem;

}

.scroll {
  width: 100%;
  height: 100%;
  /* background-color: rebeccapurple; */
  display: inline-block;
  padding: 2vw;
  animation-name: image-scroller;
  animation-duration: 7s;
  animation-delay: 1s;
  position: relative;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.image-row img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 75px;
  border: 3px solid black;

}

@keyframes image-scroller {
  from {
    transform: translate(0%);
  }

  to {
    transform: translate(-100%);

  }
}

.alphabets {
  /* background-color: aqua; */
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  height: 12vh;
  width: 100%;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
}

.alphabets h5 {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 4px;
  cursor: pointer;
}

.alphabets h6 {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  /* background-color: yellow; */
  padding: 5px 12px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  /* background-color: red; */

}

.alphabets h6:hover {
  border: 2px solid rgb(0, 0, 0);
  transition: ease 0.25s;

}

.alphabets h5:hover {
  border-bottom: 2px solid black;
  transition: ease 0.25s;

}

.next-page {
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 3%;

  margin-top: 4rem;
  padding: 2rem;
  padding-left: 8%;
  /* background-color: aquamarine; */

}

.left {
  width: 55%;
  height: 90%;
  border: 3px solid black;
  /* background-color: antiquewhite; */
  background-image: url(https://images.unsplash.com/photo-1539109136881-3be0616acf4b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0% 30%;
}


.vouge h1 {
  font-size: 2rem;
  margin-top: 85%;
  font-size: 3.5rem;
  font-family: monument;
  font-weight: bolder;
  opacity: 0;
}

/* 
.left::after {
  content: "VOGUE / SHOT";
  position: absolute;
  bottom: -6rem;
  font-size: 3.5rem;
  font-family: monument;

  font-weight: bolder;
} */

.right {
  width: 45%;
  height: 100%;

  /* background-color: aqua; */
}

.right img {
  width: 90%;
  height: 80%;

  object-fit: cover;
  object-position: 0% 30%;
  border: 3px solid black;
}

.right h2 {
  margin-top: 1rem;
  margin-left: 10%;
  width: 90%;
  font-weight: 600;
  font-size: 1.7rem;

}

.page-3 {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 55%;
  padding: 0 3rem;
  margin-top: 3rem;
  /* background-color: aqua; */
}

.page-3 .text {
  /* background-color: beige; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-3 .image {
  background-color: blueviolet;
  border: 3px solid black;
  background-image: url(https://images.unsplash.com/photo-1619785292559-a15caa28bde6?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;


}

.page-3 .container {
  background-color: #F8F8F8;
  position: relative;
  width: 250px;
  height: 20px;
}


.circular-text {
  position: absolute;
  bottom: -190px;
  left: -33%;
  width: 400px;
  height: 400px;
  /* background-color: #afabab; */
  animation: rotateText 8s linear infinite;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

@keyframes rotateText {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nigga {
  position: absolute;
  top: 100%;
  width: 100%;
}

.page-4 {
  width: 94%;
  margin-top: 4rem;
  margin-left: 3%;
  border: 3px solid black;
  height: 80vh;
  background-image: url(https://images.unsplash.com/photo-1478803431644-b832801eefa7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0% 45%;
  margin-bottom: 3rem;
}

.update h1 {
  font-family: monument, Arial, Helvetica, sans-serif;
  font-size: 4rem;
}

.heading {
  /* background-color: palegoldenrod; */
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.update-info {
  padding: 0 3rem;
  width: 100%;
  height: 100vh;

}

.card {
  /* background-color: palegoldenrod; */
  padding: 0 2rem;
  height: 20vh;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all ease 0.3s;
}

.card:nth-last-child(1) {
  border-bottom: 2px solid black;
}

.card h6 {
  font-size: 1rem;
}

.card h5 {
  font-weight: 600;
  font-size: 1.5vw;
  width: 5rem;
  /* background-color: #F8F8F8; */

}

.card .card-info {
  /* background-color: #F8F8F8; */
  width: 40%;
}

.card img {
  position: absolute;
  height: 8vw;
  width: 8vw;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
  left: 16%;
  opacity: 0;
  transition: all ease 0.6s;
}

.card h2 {
  font-size: 2.5vw;
  font-weight: 500;
}

.card:hover img {
  opacity: 1;
  left: 28%;
  border: 3px solid black;

}

.card:hover {
  background-color: #eaeaea;
}

.endpage {
  width: 100%;
  height: 90vh;
  display: grid;
  /* background-color: antiquewhite; */
  grid-template-columns: 48% 48%;
  gap: 4%;
  padding: 0 3rem;
}

.big-picture {
  width: 100%;
  height: 90vh;
}

.endpage .big-picture img {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  object-fit: cover;
}

.right-side h2 {
  margin-top: 5px;
  font-size: 3vw;
  font-weight: bolder;
  font-family: monument;
  margin-bottom: 3rem;
}

.right-side p {
  margin-top: 3rem;
  font-size: 1rem;
}

.right-side {
  display: grid;
  grid-template-rows: 1fr 1fr;

}

.right-bottom {
  /* background-color: #eaeaea; */
  height: 45vh;
}


.right-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid black;
}

.text-scroller {
  /* height: 18vh; */
  width: 100%;
  margin-top: 4rem;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  /* background-color: antiquewhite; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-text-stroke: 2px black;
  color: transparent;
  padding: 0.5rem 0;


}

.text-scroller h1 {
  display: inline-block;
  font-family: monument;
  /* background-color: rebeccapurple; */
  margin-right: 16px;
  position: relative;
  animation-name: text-animation;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes text-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.page-5 {
  width: 94%;
  margin-top: 4rem;
  margin-left: 3%;
  height: 80vh;
  background-image: url(https://images.unsplash.com/photo-1533619043865-1c2e2f32ff2f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0% 45%;
  margin-bottom: 3rem;
}

.footer {
  width: 100%;
  height: 13vh;
  /* background-color: aqua; */
  margin-top: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
  margin-bottom: 19px;
}

.footer h2 {
  font-size: 1.1rem;
  /* background-color: red; */
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
  font-weight: 600;
}

.footer h1 {
  height: 100%;
  width: 30%;
  /* background-color: gray; */
  padding-left: 10px;
  font-family: monument;
  letter-spacing: -2px;
  font-size: 2.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}


.footer h2:nth-last-child(2) {
  width: 50%;
  /* background-color: navajowhite; */
}

.footer h4:nth-last-child(1) {
  font-size: 1rem;
  width: 20%;
  font-weight: 700;
  padding: 1rem;
  /* background-color: navajowhite; */
}

@media (min-width: 800px) and (max-width: 1200px) {

  html,
  body {
    font-size: 10px;
  }

  .vouge h1 {
    display: none;
  }

  .footer h1::after {
    display: none;
  }

  .footer h1::before {
    display: none;
  }

  .nav h1::after {
    display: none;
  }

  .nav h1::before {
    display: none;
  }

  .nav {
    height: 9vh;
  }

  .image-row {
    height: 25vh;
  }

  .image-row img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.5rem;
    border: 3px solid black;

  }

  .alphabets h6 {
    padding: 5px 8px;

  }
}

@media (min-width: 600px) and (max-width: 799px) {

  html,
  body {
    font-size: 10px;
  }

  .vouge h1 {
    display: none;
  }

  .footer h1::after {
    display: none;
  }

  .footer h1::before {
    display: none;
  }

  .nav h1::after {
    display: none;
  }

  .nav h1::before {
    display: none;
  }

  .nav {
    height: 7vh;
  }

  .image-row {
    height: 23vh;
  }

  .image-row img {
    height: 140px;
    width: 140px;
  }

  .alphabets h6 {
    padding: 2.5px 4px;
  }

  .alphabets {
    height: 8vh;
  }

  .center {
    height: 80vh;
  }

  .next-page {
    height: 80vh;
    width: 90%;
    display: flex;
    padding-left: 12%;
    flex-direction: column;
    gap: 5%;


  }

  .left {
    width: 100%;
    height: 100%;
    background-position: 0% 20%;
  }

  .right {
    width: 100%;
    height: 50%;
  }

  .right img {
    width: 100%;
    height: 85%;
    object-position: 0% 28%;
  }

  .right h2 {
    width: 100%;
  }

  .page-3 {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 45% 55%;
    grid-template-columns: 1fr;
  }

  .page-3 .image {
    margin-top: 3rem;
  }

  .page-3 .container {
    height: 20px;
    width: 100px;
  }


  .circular-text {
    position: absolute;
    bottom: -160px;
    left: -130px;
    width: 350px;
    height: 350px;
  }


}


@media (min-width:1347px) {
  .vouge h1 {
    opacity: 1;
  }

}

@media (min-width: 500px) and (max-width: 599px) {

  html,
  body {
    font-size: 9px;

  }

  .vouge h1 {
    display: none;
  }

  .footer h1::after {
    display: none;
  }

  .footer h1::before {
    display: none;
  }

  .nav h1::after {
    display: none;
  }

  .nav h1::before {
    display: none;
  }

  .nav {
    height: 7vh;
  }

  .image-row {
    height: 23vh;
  }

  .image-row img {
    height: 140px;
    width: 140px;
  }

  .alphabets h6 {
    padding: 2.5px 3.3px;
  }

  .alphabets {
    height: 8vh;
  }

  .center {
    height: 80vh;
  }

  .next-page {
    height: 80vh;
    width: 90vw;
    padding-left: 13%;
    display: flex;
    flex-direction: column;
    gap: 5%;


  }

  .left {
    width: 100%;
    height: 100%;
    background-position: 0% 20%;
  }

  .right {
    width: 100%;
    height: 50%;
  }

  .right img {
    width: 100%;
    height: 85%;
    object-position: 0% 28%;
  }

  .right h2 {
    width: 100%;
  }

  .page-3 {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 45% 55%;
    grid-template-columns: 1fr;
  }

  .page-3 .image {
    margin-top: 3rem;
  }

  .page-3 .container {
    height: 20px;
    width: 100px;
  }


  .circular-text {
    position: absolute;
    bottom: -160px;
    left: -130px;
    width: 350px;
    height: 350px;
  }

  .footer {
    width: 100%;
    height: 10vh;
    padding: 0 1rem;

  }

  .nav {
    padding: 0 2rem;
  }




}


@media(max-width: 499px) {

  html,
  body {
    font-size: 9px;

  }

  .vouge h1 {
    display: none;
  }

  .footer h1::after {
    display: none;
  }

  .footer h1::before {
    display: none;
  }

  .nav h1::after {
    display: none;
  }

  .nav h1::before {
    display: none;
  }

  .nav :nth-last-child(2) {
    display: none;

  }

  .nav {
    height: 7vh;

  }

  .image-row {
    height: 25vh;
    margin-bottom: 0;


  }

  .image-row img {
    height: 140px;
    width: 140px;

  }

  .alphabets h6 {
    padding: 2.5px 3.3px;
  }

  .alphabets {
    display: none;

  }

  .center {
    height: 70vh;

  }


  .center h1 {
    font-size: 2.5rem;
  }

  .center video {
    height: 65vh;
  }

  .next-page {
    height: 80vh;
    width: 90vw;
    padding-left: 13%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 5%;


  }

  .left {
    width: 100%;
    height: 100%;
    background-position: 0% 20%;
  }

  .right {
    width: 100%;
    height: 50%;
  }

  .right img {
    width: 100%;
    height: 85%;
    object-position: 0% 28%;
  }

  .right h2 {
    width: 100%;
  }

  .page-3 {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 45% 55%;
    grid-template-columns: 1fr;
  }

  .page-3 .image {
    margin-top: 3rem;
  }

  .page-3 .container {
    height: 20px;
    width: 100px;
  }


  .circular-text {
    position: absolute;
    bottom: -160px;
    left: -130px;
    width: 350px;
    height: 350px;
  }

  .footer {
    width: 100%;
    height: 10vh;
    padding: 0 1rem;
    overflow: hidden;

  }

  .footer :nth-last-child(2) {
    display: none;
  }

  .nav {
    padding: 0 2rem;
  }

  .page-5 {
    margin-top: 2rem;
    margin-left: 3%;
    height: 60vh;
    background-position: 50% 45%;
    margin-bottom: 2rem;
  }

  .text-scroller {
    margin-top: 2rem;
  }

  .update-info {
    height: 84vh;
  }


  .card h5 {
    font-size: 1.1rem;
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .page-4 {
    height: 60vh;
    background-position: 40% 45%;

  }

  .footer h1 {
    font-size: 2rem;
  }

  .nav h1 {
    font-size: 2rem;
  }

  /* .update-info {
    display: none;
  } */


  /* .footer {
    display: none;
  } */
}